.speech {
    color: black;
    font-size: 14px;
    font-style: initial;
}

.direction {
    font-size: 15px;
    background-color: aqua;
}

.direction:hover {
    background-color: bisque;
}

.FRANC {
    color: black;
    font-size: 15px;
}

.FIA {
    color: black;
    font-size: 15px;
}

.GIU {
    color: black;
    font-size: 15px;
}

.ANT {
    color: black;
    font-size: 15px;
}

.ALL {
    color: black;
    font-size: 15px;

}

.GIOR {
    color: black;
    font-size: 15px;

}

.VIT {
    color: black;
    font-size: 15px;

}

.both{
    color:black;
    font-size: 15px;
}

table,
th,
td {
    text-align: center;
    border: 2px solid;
    margin: 35px 35px 25px 40px;
    border-color: rgb(25, 139, 0);
}

th,
td {
    padding: 16px;
}
tr:nth-child(even) 
{background-color: #304c92;}

.FRANC:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 6);
}
.FIA:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 6);
}
.GIU:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 6);
}
.ANT:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 6);
}
.ALL:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 6);
}
.GIOR:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 6);
}
.VIT:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 6);
}
.both:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 6);
}
i{
    color:chartreuse
}
ul.navbar-horizontal{
    margin: 35;
    list-style-type: none;
}
ul.navbar-horizontal li{
    float: left;
    background-color: blue;
}
ul.navbar-horizontal a:hover{
    background-color: red;

}
ul.navbar-horizontal a{
    display: block;
    padding: 1px;
    color: aliceblue;
    
}